<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:改mapper.xml映射文件的唯一标识并且必须和数据处理层的接口的路径相同-->
<mapper namespace="com.fantasy.springbootframework.mapper.UserMapper">
    <!--   必须添加property属性 ，区别于是否加主键-->
    <resultMap id="User" type="com.fantasy.springbootframework.entity.User">
        <id column="userid" property="userid" javaType="int" ></id>
        <result column="username" property="username" javaType="String" ></result>
        <result column="userage" property="userage" javaType="int" ></result>
        <result column="userpwd" property="userpwd" javaType="String" ></result>
    </resultMap>
    <!--id的值必须和数据处理层的接口名一致-->
    <!--此处的User-->
        <select id="queryAlluser" resultMap="User">
            select * from  user
        </select>
        <select id="queryuserbyid"   parameterType="int" resultMap="User">
            select * from  user
            <trim suffixOverrides="and"  prefixOverrides="and">
                <where>
                    <if test="userid!=null">
                        and userid = #{userid}
                    </if>
                </where>
            </trim>
        </select>
    <select id="queryuserbyname"  parameterType="string" resultMap="User">
        select * from user
        <trim suffixOverrides="and"  prefixOverrides="and">
            <where>
                <if test="username!=null">
                    and username = #{username}
                </if>
            </where>
        </trim>
    </select>
        <update id="UpdUser" parameterType="com.fantasy.springbootframework.entity.User">
        </update>
        <delete id="DelUser">
            delete from user where userid=#{id}
        </delete>
    <insert id="AddUser" parameterType="com.fantasy.springbootframework.entity.User" >
        insert into  user value (${userid},#{username},${userage},#{userpwd})
    </insert>
</mapper>
